*{
    margin: 0;
    padding: 0;
}
html, body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif, 'Exo 2';
    color:#FFFFFF;
    width:100%;
    text-align:center;
    margin-top:25px;
    background-color:black;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 100%;
}


/* Navigation */

nav {
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    box-sizing: border-box;
    clear: both;
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 20;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    overflow: auto;
}

nav > a {
    height:50px;
    width:50px;
    background-color:transparent;
    background-repeat:no-repeat;
    background-position:center center;
    color:black;
    line-height:50px;
    cursor:pointer;
    padding:0px 20px;
    display:none;
    position:absolute;
    right:0;

}

nav > ul {
    display:block;
    list-style:none;
    margin:0 auto;
    padding:0;
    width:100%;
    max-width:100%;
    height:100%;
}

nav > ul > li {
    box-sizing:border-box;
    text-align:center;
    display:inline-block;
    vertical-align:top;
    float: left ;
    position:relative;
    font-style: italic;

}

nav > ul > li > a {
    padding:0px 15px;
    cursor:pointer;
    display:block;
    color:White;
    height:50px;
    line-height:45px;
    text-transform:uppercase;
    text-decoration:none;
}

nav > ul > li > a.logo {
    font-size:2em;
    font-style:italic;
    float: left;
    padding-right: 500px;

}
nav > ul > li > a.cart_logo{
    font-size:2em;
    font-style:italic;
    float: right;
}

nav > ul > li > a.logo > span {
    vertical-align:top;
    padding-left:10px;
    color:white;
}







/* div*/



.normal{
    border: 1px solid white;
    max-height: 120px;
    margin-top: 25px;
}


div.container-news{
    text-align: left;
}
div.container-news > h1{
    text-align: center;
    text-decoration: none;
    font-family: "Apple Braille";
    font-style: italic;
    border: 1px solid white;
    margin: 0;
}
 p{
    display: block;

}
div.container-news > div > article > p.date{
    color: whitesmoke;
    margin: 0px 0px 10px 0px;
}
div.container-news > div > article > h3 {
    font-size: 1.8em;
    padding: 4px 0px;
}
.title-head{

    text-decoration: none;
    padding: 12px;
    font-size: 30px;
    font-family: "Apple Braille";
    font-style: italic;


}

/*Header*/



/*Footer*/
.site-footer {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    display: inline-block;
}

/*Logo*/

#logo{
    margin: 20px;
    float: left;
    width: 200px;
    height:50px;
    display: block;
}

.now-showing>img{
    width: 100%;

}



/* Menu Icon*/

/*Media Queries */
@media screen and (max-width: 1024px) {
    div.container-news > div > article{
        width: calc(49% - 30px)
    }
    
}


/* Forms*/
.container {
    width: 60%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 55px;
    background-color: black;
    padding: 10px;



}
label{
    display: inline-block;
    width: 100%;
    font-style: italic;
    margin-top: 10px;
    cursor: default;
    text-align: left;
}
input,textarea,select{
    margin-top: 10px;
    width: 100%;
    border-radius: 5px ;
    display: inline-block;


}

/* Buttons*/
div>button{
    display: inline-block;
    padding: 10px;
    width: 100px;
    margin-right: 10px;
    border-radius: 5px;
    margin-top: 10px;

}

.form-input{
    padding: 20px;
    padding-bottom: 50px;
}


/* FORM COMPLETE*/

.automatic-slide{
    margin-top: 40px;
    width: 98%;
    display: inline-block;
    border: 1px solid white ;

}




